body {
    display: flex;
    flex-direction: column;
    margin:0;
}
/* Encabezado */
header {
    width: 100%;
    box-sizing: border-box;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: absolute;
}
/* Logo */
.head__logo{
    width: 300px;
    height: 150px;
    margin-left: 50px;
}
/* Navegacion */
.head__navegacion{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 18px; */
    text-align: center;
    margin-right: 20px;
    
}
/* Cada elemento enlace */
.head__enlace{
    display: inline-block;
    margin: 0 30px;
}
.head__enlace i{
    color: white;
    margin-right: 20px;
    transform: rotate(90deg);
}
/* texto de cada enlace */
.head__enlace a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

header i {
    display: none;
}

@media  screen and (max-width: 1245px) {
    /* Cada elemento enlace */
    .head__enlace{
        margin: 0 20px;
    }
    .head__enlace i{
        margin-right: 10px;
    }
}
@media  screen and (max-width: 1125px) {
    /* Cada elemento enlace */
    .head__enlace{
        margin: 0 10px;
    }
    .head__enlace i{
        margin-right: 5px;
    }
}
@media  screen and (max-width: 1025px) {
    /* Cada elemento enlace */
    .head__enlace{
        margin: 0 5px;
    }
    .head__navegacion{
        margin-right: 10px;
    }
}

@media  screen and (max-width: 975px) {
    .head__logo {
        width: 300px;
        height: 150px;
        margin-left: 5px;
    }

    .head__navegacion {
        margin-right: 5px;
    }
}

@media  screen and (max-width: 925px) {
    header i {
        display: block;
        color: white;
        font-size: 50px;
        margin-right: 60px;
    }
    /* Navegacion */
    .head__navegacion{
        display: none;
    }
}
/* Responsive */
@media screen and (max-width: 412px) {
    body {
        margin:0;
    }
    /* Encabezado */
    header {
        width: 100%;
        box-sizing: border-box;
        height: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        position: absolute;
        margin: 0;
    }
    /* Logo */
    .head__logo{
        width: 150px;
        height: 75px;
        margin-left: 20px;
    }

    header i {
        display: block;
        color: white;
        font-size: 50px;
        margin-right: 60px;
    }
    /* Navegacion */
    .head__navegacion{
        display: none;
    }
}